
#navbar {
  height: 100px;
  z-index: 1;
}

#navbar .container {
  display: block;
  text-align: center;
  animation: none;
}

#navbar ul {
  display: flex;  
  justify-content: center;
}

#navbar ul li a {
  padding: 0.5rem 0.5rem;
}

#navbar ul li a:hover {
  padding: 0.5rem 0.5rem;
}

#navbar h1 {
  padding: 0.5rem 0;
  font-size: 2rem;
}

/* Showcase */
#showcase {
  height: 100vh;
}

#showcase .showcase-content {
 height: 100%;
 margin-top: 70px;
}

#showcase .showcase-content p {
  font-size: 0.8rem;
  margin-top: 1rem;
  padding: 0 2rem;
}

#showcase .showcase-content h1 {
  font-size: 2.5rem;
  padding: 0.5 0rem; 
  margin-top: -150px;
}

/* Categories */
#categories {
  background: #000;  
  /* height: 100%;    */
  
}

#categories .container {
  flex-wrap: wrap; 
  align-content: center;
  width: 100%;
}

#categories .container .category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 500px;
  height: 170px;
  padding: 0;
  margin: 0.5rem 1rem;
  transition: all 0.5s ease-in;  
}

#categories .container .category:hover {
  height: 200px;
}

#categories .container .category h2 {
 margin-top: 0;
}

#categories .container .category p {
padding: 0 0.5rem;
}

/* Team */
#categories .banner {
  display: none;
}

#team {
  height: 100%;
}

#team .container {
  display: block;
  padding-bottom: 2rem;
}

#team .container .card:nth-child(5) {
  display: none;
}

#team .container .card:nth-child(4) {
  display: none;
}

/* Contact */
#contact {
  height: 550px;
}

#contact .contact-form {
  flex: 1;
  padding: 0px;
}

#contact .contact-form p {
  text-align: left;
}

#contact .contact-img {
  display: none;
}

#footer .container p {
  font-size: 0.8rem;
}

/* Discovery */
#discovery .discovery-content p {
  font-size: 0.8rem;
  padding: 1rem;
}

#discovery .discovery-content h1 {
  font-size: 2.5rem; 
}

#discovery .discovery-img {
  display: block;
  padding: 10rem 0;
  background: #2c7c09 url("../img/lighter.jpg") no-repeat center center/cover; 
  /* background-position-x: -400px;  */
  height: 85vh;
  top: 0;
}



