/* Navbar */
#navbar {
  height: 80px;  
}

#navbar .container {
  display: block;
  text-align: center;
}

#navbar ul {
  display: flex;  
  justify-content: center;
}

#navbar h1 {
  padding-bottom: 0.5rem;
}

/* Showcase */
#showcase {
  height: 100vh;
}

#showcase .showcase-content {
 height: 100%;
 margin-top: 120px;
}

#showcase .showcase-content p {
  font-size: 0.9rem;
  margin-top: 1rem;
  padding: 0 2rem;
}

#showcase .showcase-content h1 {
  font-size: 3rem;
  padding: 0 2rem; 
  margin-top: -300px;
}

/* Categories */
#categories {
  background: #000;  
  height: 100%;   
}

#categories .container {
  flex-wrap: wrap;
  position: relative;  
}

#categories .container .category {
  background: #f4f4f4;
  width: 95%;
  height: 90%;
  margin: 0.6rem;
  border-radius: 20px;
  transition: none;
}

.category p {
  color: #2c7c09;
}

.category h2 {
  color: #2c7c09;
  border-bottom: 1px solid #2c7c09;
}

.category:hover {
  /* transform: translateY(10px); */
  transform: none;
}

/* Team */
#categories .banner {
  display: none;
}

#team {
  height: 100%;
}

#team .container {
  display: block;
  height: 100%;
}

#team .container .card:nth-child(5) {
  display: none;
}

#team .container .card:nth-child(4) {
  display: none;
}

/* Contact */
#contact {
  height: 80%;
}

#contact .container {
  display: flex;
  padding: 1rem 0;
}

#contact .contact-form {
  flex: 1;
  padding: 0 20px;
}

#contact .contact-form p {
  text-align: left;
}

#contact .contact-img {
  display: none;
}

#footer p {
    font-size: 0.6rem;
}
