/* Navbar */
#navbar {
  height: 80px;  
}

#navbar .container {
  display: block;
  text-align: center;
}

#navbar ul {
  display: flex;  
  justify-content: center;
}

#navbar h1 {
  padding-bottom: 0.5rem;
}

/* Showcase */
#showcase {
  height: 100vh;
}

#showcase .showcase-content {
 height: 100%;
 margin-top: 120px;
}

#showcase .showcase-content p {
  font-size: 0.9rem;
  margin-top: 1rem;
  padding: 0 2rem;
}

#showcase .showcase-content h1 {
  font-size: 3rem;
  padding: 0 2rem; 
  margin-top: -300px;
}

/* Categories */
#categories {
  background: #000;  
  height: 100%; 
  
}

#categories .container {
  flex-wrap: wrap;
  position: relative;
  
}

.category {
  background: #2c7c09;
  width: 90%;
  height: 90%;
  margin: 0.6rem;
  border-radius: 20px;
  transition: none;
}

.category:hover {
  /* transform: translateY(10px); */
  transform: none;
}

/* Team */
#team {
  height: 800px;
}

#team .container {
  display: block;
  height: 100%;
}

#team .container .card:nth-child(5) {
 display: none;
}


/* Contact */
#contact .contact-form {
flex: 1;
padding: 0 30px;
}

#contact .contact-form p {
text-align: center;
}

#contact .contact-img {
display: none;
}

#footer p {
  font-size: 0.8rem;
}