@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;  
  line-height: 1.4;  
}

/* Utilities */
.container {
  display: flex;
  max-width: 1100px;
  justify-content: space-around; 
  margin: auto;
}

.text-primary {
  color: #f4f4f4;
}

.text-secondary {
  color: #2c7c09;
}
.text-center {
  text-align: center;
}

.m-heading {
  font-size: 2rem;
  color: #f4f4f4;
}

.l-heading {
  font-size: 4rem;  
}

.lead {
  font-size: 1rem;
  color: #f4f4f4;
}

.bb {
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 0.5rem;
}

.my-1 {
  margin: 0.5rem 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Pading */
.py-1 { 
  padding: 1rem;
}

/* Navbar */
#navbar {
  background: #2c7c09;  
}

#navbar .container {
  display: flex;
  justify-content: space-between;
}

#navbar ul {
  display: flex;
  align-items: center;  
}

#navbar h1 {
  font-size: 2rem;
  color: #000;
  animation: slideFromTop 1s ease-in;
}

#navbar ul li a {
  color: #f4f4f4;
  padding: 0.5rem;
  margin: 0 0.5rem;
  font-size: 1.1rem;  
}

#navbar ul li a:hover {
  background: #000;
  border-radius: 5px;
  cursor: pointer;
}

/* Showcase */
#showcase {
  background: #2c7c09 url("../img/nasa-Q1p7bh3SHj8-unsplash.jpg") no-repeat center center/cover;
  height: 100vh;
  color: #f4f4f4;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;  
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
}

/* Categories */

#categories {
  background: #000;  
  height: 300px; 
}

.card {
  background: #2c7c09;
  width: 300px;
  height: 250px;
  padding: 1rem;
  margin: 1rem;
  border-radius: 20px;
  transition: transform 0.2s ease-in;
  animation: slideFromBottom 1s ease-in;
}

.card:hover {
  transform: translateY(15px);
}

@keyframes slideFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}


