@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
    display: none;
  }

body {
  font-family: 'Poppins', sans-serif;    
  line-height: 1.5;   
}

/* Utilities */
.container {
  display: flex;
  max-width: 1100px;
  justify-content: space-around; 
  margin: auto;
}

.text-primary {
  color: #fff;
}

.text-secondary {
  color: #2c7c09;
}

.text-center {
  text-align: center;
}

.black-shadow {
  text-shadow: 1px 1px 0px #000, -1px -1px 0px #000;
}

.white-shadow {
  text-shadow: 2px 2px 2px #fff, -2px -2px 2px #fff;
}

.no-shadow {
  text-shadow: none;
}

.m-heading {
  font-size: 2rem;
  color: #fff;
}

.h-heading {
  font-size: 4rem;
  color: fff;
}

.l-heading {
  font-size: 6rem;  
  color: #fff;
}

.xl-heading {
  font-size: 8rem;
  color: #fff;
}

.lead {
  font-size: 1rem;
  color: #fff;
}

.bg-primary {
  background: #2c7c09;
}

.my-1 {
  margin: 0.5rem 0;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

/* Pading */
.py-1 { 
  padding: 0.5rem 0;
}

/* Borders */

.br-tl {
  border-top-left-radius: 20px;
}

.br-tr {
  border-top-right-radius: 20px;
}

.br-bl {
  border-bottom-left-radius: 20px;
}

.br-br {
  border-bottom-right-radius: 20px;
}

/* Navbar */
#navbar {
  background: #2c7c09; 
}

#navbar .container {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  /* animation: navbarSlideIn 1s ease-in; */
}

#navbar ul {
  display: flex;
  align-items: center;  
}

#navbar h1 {
  font-size: 2rem;
  color: #000;
  cursor: pointer;
  
}

#navbar ul li a {
  color: #fff;
  padding: 0.4em;
  margin: 5px;
  /* font-weight: bold; */
  transition: all 0.2s ease-in; 
}

#navbar ul li a:hover {
  cursor: pointer;
  background: #000;
  border-radius: 5px;
}

/* Showcase */
#showcase {
  background: #2c7c09 url("../img/globe2.jpg") no-repeat center center/cover;
  height: 100vh;
  color: #000;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;  
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0);
}

#showcase .showcase-content h1 {
  margin-top: -70px;
  padding-bottom: 1rem;
}

#showcase .showcase-content p {
  font-size: 1rem;
  max-width: 1100px;
  line-height: 2;
}

/* Categories */
#categories {
  background: #000;
  height: 100%;
}

#categories .container {
  display: flex;  
  width: 75%;
}

#categories .container .category {
  background: #2c7c09;
  border-radius: 20px; 
  width: 550px;
  height: 240px;
  margin: 0.5rem;
  cursor: default;
  transition: all 0.5s ease-in;
}

#categories .container .category:hover {
  width: 700px;
  background: #38a00b;
}
  
#categories .container .category h2 {
  margin-top: 30px;
  padding-bottom: 0.5rem;
  transition: all 1s ease-in;
}

#categories .container .category p {
  text-align: center;
  padding:  1rem;
  margin-top: 5px;
  line-height: 1.5;              
}

/* Contact */
#contact {
  background: #000;
  height: 600px;
}

#contact .container {
  display: flex;
  padding: 0 1rem;
}

#contact .contact-form {
 flex: 1;
 height: 100%; 
 padding: 0px 40px 0 0;
}

#contact .contact-form p {
  margin: 0 1rem;
  color: #fff;  
}

#contact .contact-form label {
  display: block;
  color: #fff;
  padding: 0.5rem 0;
}

#contact .contact-form input {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

#contact .contact-form textarea {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 1.5rem;
}

#contact .contact-img {
  flex: 1;
  background: #2c7c09 url("../img/contact.jpg") no-repeat center center/cover;
  opacity: 0.9;
  /* border: 1px solid #fff; */
  border-radius: 20px;
 }

.btn {
  background: #2c7c09;
  color: #fff;
  border: 2px solid white;
  border-radius: 5px;
  margin-top: 2rem;
  cursor: pointer;
  font-size: 1rem;
}

.btn:hover {
  background: #38a00b;
}

/* Team */
#team {
  background-color: #000;
  height: 100%;  
}

#team .container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto; 
  justify-content: space-between;
  padding: 0.5rem 0;
}

#team .container .card {
  background: #333;
  margin: 1rem;
  color: #fff;
  border-radius: 20px;
  text-align: center;
  padding: 1rem;  
}

#team .container .card-white {
  background: #fff;
  margin: 1rem;
  border: 1px solid #000;
  color: #000;
  text-align: center;
  padding: 1rem;  
}

#team .container .card-green {
  background: #2c7c09;
  margin: 1rem;
  border: 1px solid #000;
  color: #fff;
  text-align: center;
  padding: 1rem;  
}

#team .container .card-green .h3 {
  color: #fff;
}

#team .container .card .img-white {
  margin-top: 20px;
  margin-right: 10px;
  width: 70px;
  height: 70px;
  border: 1px solid #fff;
  border-radius: 50%;
  }

#team .container .card .img-black {
  margin-top: 20px;
  margin-right: 10px;
  width: 70px;
  height: 70px;
  border: 1px solid #000;
  border-radius: 50%;
}

#team .container .card .img-green {
  margin-top: 20px;
  margin-right: 10px;
  width: 70px;
  height: 70px;
  border: 1px solid #2c7c09;
  border-radius: 50%;
}

#team .container .card:nth-child(4) {
  grid-column: 1 / 3; 
}

#team .container .card h3 {
  color: #2c7c09;
}

#team .container .card p {
  text-align: center;
  font-size: 0.9rem;
  font-style: italic;
  line-height: 1.5rem;
}

/* Footer */
#footer {
  background:#2c7c09;  
  padding: 0.5rem 0;
}

#footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer .container p {
  font-size: 0.8rem;
}

@keyframes navbarSlideIn {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0%);
  }
} 

/* Discovery , Learning  */
body {
  background: #000;
}

#discovery {
  color: #fff;
  min-height: 100%; /* or auto */
  background: #000;
}

#discovery .discovery-content {
  border-radius: 20px;
  /* box-shadow: 0 0 0px 1px #fff; */
  /* border: 1px solid #fff; */
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  line-height: 2;
  min-height: 100%;
  max-width: 1100px;
  transition: all 1s ease-in;
}

#discovery .discovery-img {
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center;
  color: #fff;
  /* border: 1px solid #fff; */
  background: #2c7c09 url("../img/lighter.jpg") no-repeat center center/cover;
} 

#discovery .discovery-content p {
  padding: 1rem;
}

#discovery .discovery-content h1 {

}

 
